.nodeContainer {
	width: 150px;
	min-height: 80px;
	.initialNode {
		background-color: black;
		border-radius: 100%;
		width: 20px;
		height: 20px;
	}
}
/*

	overflow: hidden;
	width: 150px;
	min-height: 80px;
	height: 80px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	cursor: default;

	.initialNode {
		background-color: black;
		border-radius: 100%;
		width: 20px;
		height: 20px;
	}

	.node {
		font-size: 12px;
		border: 2px solid #000;
		border-radius: 5px;
		padding: 10px;
		min-height: 80px;
		width: 100%;
		height: 80px;

		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;

		&.errorNode::after {
			content: "";
			position: absolute;
			width: calc(100% - 13px);
			height: calc(100% - 13px);
			border-radius: 3px;
			border: 2px solid #000;
			top: 5px;
			left: 5px;
		}

	}

	&:hover {
		height: fit-content;
		& .node {
			height: fit-content;
			z-index: 999;
			background-color: #fff;
		}
		opacity: 1;
	}
	
	&.hovered {
		opacity: 0.8;
		& .node {
			background-color: #d6edf0;
			border: 2px solid darken($color: lightslategray, $amount: 30%);
			&.errorNode {
				background-color: rgb(241, 167, 167);
				border: 2px solid #000;
				&::after {
					border: 2px solid #000;
				}
			}
		}
	}

	&.selected {
		opacity: 1;
		& .node {
			background-color: #a0d4db;
			border: 2px solid darken($color: lightslategray, $amount: 30%);
			&.errorNode {
				background-color: rgb(241, 167, 167);
				border: 2px solid #000;
				&::after {
					border: 2px solid #000;
				}
			}
		}
	}
}
*/