.nodeContainer {

	overflow: hidden;
	width: 150px;
	height: 80px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	opacity: 0.5;
	cursor: default;
	transition: all 0.1s ease-in-out;

	.initialNode {
		background-color: black;
		border-radius: 100%;
		width: 20px;
		height: 20px;
	}

	.node {
		font-size: 12px;
		border: 2px solid #000;
		border-radius: 5px;
		padding: 10px;
		
		width: 100%;
		height: 100%;
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		cursor: pointer;

		&.errorNode::after {
			content: "";
			position: absolute;
			width: calc(100% - 13px);
			height: calc(100% - 13px);
			border-radius: 3px;
			border: 2px solid #000;
		}

	}
	
	&.hovered {
		opacity: 0.9;
		& .node {
			background-color: rgba(194, 131, 83, 0.169);
			border: 2px solid darken($color: lightslategray, $amount: 30%);
			&.errorNode {
				background-color: rgb(241, 167, 167);
				border: 2px solid #000;
				&::after {
					border: 2px solid #000;
				}
			}
		}
		&:hover {
			opacity: 1;
			&.node {
				background-color: rgba(194, 131, 83, 0.3);;
			}
		}
	}

	&.selected {
		opacity: 1;
		& .node {
			background-color: rgba(194, 131, 83, 0.5);
			border: 2px solid darken($color: lightslategray, $amount: 30%);
			&.errorNode {
				background-color: rgb(241, 167, 167);
				border: 2px solid #000;
				&::after {
					border: 2px solid #000;
				}
			}
		}
	}
}